.grade2--2ZRs3 .bg1--1umm9 {
    background-position: -42px 0;
}
.grade2--2ZRs3 .detail--UHSnM {
    background-position: 1px -170px;
}


.grade3--2dAc4 .bg1--1umm9 {
    background-position: -84px 0;
}
.grade3--2dAc4 .detail--UHSnM {
    background-position: 1px -340px;
}


.grade4--3Qbuw .bg1--1umm9 {
    background-position: -126px 0;
}
.grade4--3Qbuw .detail--UHSnM {
    background-position: 1px -510px;
}


.grade5--2dAc6 .bg1--1umm9 {
    background-position: -168px 0;
}
.grade5--2dAc6 .detail--UHSnM {
    background-position: 1px -680px;
} 

.grade5--2y76Q .detail--UHSnM {
    background-position: 1px -680px;
}
.grade5--2y76Q .bg1--1umm9 {
    background-position: -168px 0;
}

.grade6--LxUts .detail--UHSnM {
    background-position: 1px -850px;
}
.grade6--LxUts .bg1--1umm9 {
    background-position: -210px 0;
}

.grade7--P8gee .bg1--1umm9 {
    background-position: -252px 0;
}
.grade7--P8gee .detail--UHSnM {
    background-position: 1px -1020px;
}

.grade8--joOjz .bg1--1umm9 {
    background-position: -294px 0;
}
.grade8--joOjz .detail--UHSnM {
    background-position: 1px -1190px;
}

.grade9--3pfb0 .bg1--1umm9 {
    background-position: -336px 0;
}
.grade9--3pfb0 .detail--UHSnM {
    background-position: 1px -1360px;
}

.grade10--3C6I1 .bg1--1umm9 {
    background-position: -378px 0;
}
.grade10--3C6I1 .detail--UHSnM {
    background-position: 1px -1530px;
}

.grade11--299Sw .bg1--1umm9 {
    background-position: -420px 0;
}
.grade11--299Sw .detail--UHSnM {
    background-position: 1px -1700px;
}

.grade12--2ZHC5 .bg1--1umm9 {
    background-position: -462px 0;
}
.grade12--2ZHC5 .detail--UHSnM {
    background-position: 1px -1870px;
}

.grade13--G35mM .bg1--1umm9 {
    background-position: -504px 0;
}
.grade13--G35mM .detail--UHSnM {
    background-position: 1px -2040px;
}

.grade14--qlsHU .bg1--1umm9 {
    background-position: -546px 0;
}
.grade14--qlsHU .detail--UHSnM {
    background-position: 1px -2210px;
}

.grade15--3Znhd .bg1--1umm9 {
    background-position: -588px 0;
}
.grade15--3Znhd .detail--UHSnM {
    background-position: 1px -2380px;
}

.grade16--d7Soq .bg1--1umm9 {
    background-position: -630px 0;
}
.grade16--d7Soq .detail--UHSnM {
    background-position: 1px -2550px;
}

.grade17--3Sp6U .bg1--1umm9 {
    background-position: -672px 0;
}
.grade17--3Sp6U .detail--UHSnM {
    background-position: 1px -2720px;
}

.grade18--9NwNJ .bg1--1umm9 {
    background-position: -714px 0;
}
.grade18--9NwNJ .detail--UHSnM {
    background-position: 1px -2890px;
}

.gradeup_list--2axDz .grade19--157ih .btn--W8Oma a .bg1--1umm9 {
    width: 44px;
}
.grade19--157ih .bg1--1umm9 {
    background-position: -756px 0;
}
.grade19--157ih .detail--UHSnM { 
    background-position: 1px -3060px;
}