dl {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}
dt {
    display: block;
}
dd {
    display: block;
    margin-inline-start: 40px;
}
p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}
.category_kin_qna .category_kin_question:before {
    display: inline-block;
    margin-right: 8px;
    width: 19px;
    height: 18px;
    background: url(https://ssl.pstatic.net/static/kin/people/sp_category_kin.png) -42px -46px;
    vertical-align: top;
    content: '';
}
.category_kin_qna .category_kin_question {
    margin-bottom: 12px;
    padding-top: 28px;
    border-top: 1px solid #e3e3e3;
    font-size: 16px;
    line-height: 20px;
    font-weight: bold;
    color: #111;
}
.category_kin_qna .category_kin_question:first-child {
    border-top: 0;
}
.category_kin_qna .category_kin_answer {
    padding-bottom: 15px;
    font-size: 14px;
    line-height: 22px;
    color: #8c8c8c;
}
.category_kin_qna .category_kin_answer .highlight {
    color: #3867e8;
}
.category_kin_qna .category_kin_answer>img {
    margin-top: 15px;
}
img[Attributes] {
    width: 800px;
    aspect-ratio: auto 800 / 178;
    height: 178px;
}
.container-fluid-content__right:after {
    display: table;
    clear: both;
    content: '';
}
.container-fluid-content-inner:after {
    display: table;
    clear: both;
    content: '';
}